TestMailApp/Connected Services/WS/DBService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EntitiesLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EntitiesLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployee" nillable="true" type="tns:ArrayOfEmployee" />
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Patronymic" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
  <xs:complexType name="ArrayOfTag">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tag" nillable="true" type="tns:Tag" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTag" nillable="true" type="tns:ArrayOfTag" />
  <xs:complexType name="Tag">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tag" nillable="true" type="tns:Tag" />
  <xs:complexType name="ArrayOfMail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Mail" nillable="true" type="tns:Mail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMail" nillable="true" type="tns:ArrayOfMail" />
  <xs:complexType name="Mail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contents" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegistrationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SentFrom" nillable="true" type="tns:Employee" />
      <xs:element minOccurs="0" name="SentTo" nillable="true" type="tns:Employee" />
      <xs:element minOccurs="0" name="Tags" nillable="true" type="tns:ArrayOfTag" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Mail" nillable="true" type="tns:Mail" />
</xs:schema>