TestMailApp/Connected Services/WS/DBService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SqlDBService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53653/DBService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53653/DBService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53653/DBService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EntitiesLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDBService_GetEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployees" />
  </wsdl:message>
  <wsdl:message name="IDBService_GetEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IDBService_GetTags_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTags" />
  </wsdl:message>
  <wsdl:message name="IDBService_GetTags_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTagsResponse" />
  </wsdl:message>
  <wsdl:message name="IDBService_GetMails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMails" />
  </wsdl:message>
  <wsdl:message name="IDBService_GetMails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMailsResponse" />
  </wsdl:message>
  <wsdl:message name="IDBService_SetMailsData_InputMessage">
    <wsdl:part name="parameters" element="tns:SetMailsData" />
  </wsdl:message>
  <wsdl:message name="IDBService_SetMailsData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetMailsDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDBService_DeleteMailsData_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMailsData" />
  </wsdl:message>
  <wsdl:message name="IDBService_DeleteMailsData_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMailsDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IDBService">
    <wsdl:operation name="GetEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBService/GetEmployees" message="tns:IDBService_GetEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBService/GetEmployeesResponse" message="tns:IDBService_GetEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTags">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBService/GetTags" message="tns:IDBService_GetTags_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBService/GetTagsResponse" message="tns:IDBService_GetTags_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMails">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBService/GetMails" message="tns:IDBService_GetMails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBService/GetMailsResponse" message="tns:IDBService_GetMails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetMailsData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBService/SetMailsData" message="tns:IDBService_SetMailsData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBService/SetMailsDataResponse" message="tns:IDBService_SetMailsData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMailsData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBService/DeleteMailsData" message="tns:IDBService_DeleteMailsData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBService/DeleteMailsDataResponse" message="tns:IDBService_DeleteMailsData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDBService" type="tns:IDBService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmployees">
      <soap:operation soapAction="http://tempuri.org/IDBService/GetEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTags">
      <soap:operation soapAction="http://tempuri.org/IDBService/GetTags" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMails">
      <soap:operation soapAction="http://tempuri.org/IDBService/GetMails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMailsData">
      <soap:operation soapAction="http://tempuri.org/IDBService/SetMailsData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMailsData">
      <soap:operation soapAction="http://tempuri.org/IDBService/DeleteMailsData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SqlDBService">
    <wsdl:port name="BasicHttpBinding_IDBService" binding="tns:BasicHttpBinding_IDBService">
      <soap:address location="http://localhost:53653/DBService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>